@using System.Data
@using ImEx.Controllers
@model DataSet
@{
    DataTable fs = null;
    if (Model.Tables.Contains("СписокРасходныхНакладных")) { fs = Model.Tables["СписокРасходныхНакладных"]; }
    DataTable gz = null;
    if (Model.Tables.Contains("СписокПриходныхНакладных")) { gz = Model.Tables["СписокПриходныхНакладных"]; }
    Env env = (Env)Session["env"];
}
<style type="text/css">
    #ImEx_Views_F0_Index {
        margin: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

        #ImEx_Views_F0_Index td {
            border: 1px solid black;
            padding: 2px;
            background-color: transparent;
        }

            #ImEx_Views_F0_Index td.fs tr.row:hover {
                background-color: #fdd;
            }

        #ImEx_Views_F0_Index .selected {
            background-color: #dfd;
        }

        #ImEx_Views_F0_Index .corr {
            background-color: #ddf;
        }
</style>
<div id="ImEx_Views_F0_Index">
    <div>
        <span>Скидка при оформлении передачи из "@env.SrcFirm" в "@env.DestFirm": @env.Discount%</span>
        <input type="checkbox" name="Применить скидку" checked="checked" disabled />
    </div>
    <table>
        <tr>
            <td class="fs">
                <input type="text" value="" />
                <br />
                <br />
                <div style="width: 500px; height: 400px; overflow: auto">
                    @if (fs != null && fs.Rows.Count > 0)
                    {
                    <p>Список расходных накладных в "@env.SrcFirm" на "@env.SrcClient".</p>
                    <p>Синим цветом выделены расходные накладные в "@env.SrcFirm" для которых есть приходная накладная в "@env.DestFirm".</p>
                        <br />
                        DataView dv = fs.DefaultView;
                        dv.Sort = "ДатаДок desc, НомерДок desc";
                        <div style="width: 500px; height: 320px; overflow: auto;">
                            <table>
                                @for (int ri = 0; ri < dv.Count; ri++)
                                {
                                    DataRowView drv = dv[ri];
                                    <tr class="row" data-corr="0" onclick="ImEx_Views_F0_Index.selectRow(this)">
                                        <td><input type="checkbox" disabled="disabled" readonly="readonly" /></td>
                                        <td>@(((DateTime)drv["ДатаДок"]).ToString("dd.MM.yyyy"))</td>
                                        <td>@drv["НомерДок"]</td>
                                        <td>@drv["КлиентНаименование"]</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                <p>В "@env.SrcFirm" нет расходных накладных на "@env.DestFirm" в указанном периоде.</p>
                    }
                </div>
            </td>
            <td class="cmd"><input type="button" value=">>>>" disabled="disabled" onclick="ImEx_Views_F0_Index.sendBill()" /></td>
            <td class="gz">
                <input type="text" value="" />
                <br />
                <br />
                <div style="width: 500px; height: 400px; overflow: auto">
                    @if (gz != null && gz.Rows.Count > 0)
                    {
                    <p>Список приходных накладных в "@env.DestFirm" от "@env.SrcFirm".</p>
                    <p>Синим цветом выделены приходные накладные в "@env.DestFirm" для которых есть расходная накладная в "@env.SrcFirm".</p>
                        <br />
                        DataView dv = gz.DefaultView;
                        dv.Sort = "ДатаДок desc, НомерДок desc";
                        <div style="width: 500px; height: 320px; overflow: auto;">
                            <table>
                                @for (int ri = 0; ri < dv.Count; ri++)
                                {
                                    DataRowView drv = dv[ri];
                                    <tr data-corr="0">
                                        <td><input type="checkbox" disabled="disabled" readonly="readonly" /></td>
                                        <td>@(((DateTime)drv["ДатаДок"]).ToString("dd.MM.yyyy"))</td>
                                        <td>@drv["НомерДок"]</td>
                                        <td>@drv["КлиентНаименование"]</td>
                                        <td>@drv["НомерТН"]</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                <p>В "@env.DestFirm" нет приходных накладных от "@env.SrcFirm" в указанном периоде.</p>
                    }
                </div>
            </td>
        </tr>
    </table>
    <div class="msg"></div>
</div>
<script type="text/javascript">
    var ImEx_Views_F0_Index = (function () {
        let mainDiv = $('#ImEx_Views_F0_Index');
        let fsTable = mainDiv.find('td.fs table');
        let fsRows = fsTable.find('tr');
        let gzTable = mainDiv.find('td.gz table');
        let gzRows = gzTable.find('tr');
        let cmdInput = mainDiv.find('td.cmd input');
        let msg = mainDiv.find(".msg");
        
        (function markCorrItems() {
            fsRows.each(function (index, element) {
                var fsTr = $(element);
                var fsN = fsTr.find('td:eq(2)').text();
                gzRows.each(function (index, element) {
                    var gzTr = $(element);
                    var gzN = gzTr.find('td:eq(4)').text();
                    if (fsN == gzN) {
                        fsTr.attr("data-corr", "1");
                        fsTr.addClass('corr');
                        gzTr.attr("data-corr", "1");
                        gzTr.addClass('corr');
                        return false; // break each loop
                    }
                });
            });
        })();
        
        return {
            selectRow: function (tr) {
                // убрать старый выбор
                {
                    gzTable.find('tr').each(function (index, element) {
                        var gzTr = $(element);
                        if (gzTr.attr("data-corr") == "1") {
                            gzTr.addClass("corr");
                            gzTr.removeClass("selected");
                        }
                    });
                    fsTable.find('tr').each(function (index, element) {
                        var gzTr = $(element);
                        if (gzTr.attr("data-corr") == "1") {
                            gzTr.addClass("corr");
                            gzTr.removeClass("selected");
                        }
                    });
                    fsTable.find('tr.selected').each(function (index, element) {
                        $(element).removeClass("selected");
                    });
                }
                // сформировать новый
                {
                    var fsTr = $(tr);
                    fsTr.removeClass("corr");
                    fsTr.addClass("selected");
                    var fsN = fsTr.find('td:eq(2)').text();
                    gzTable.find('tr').each(function (index, element) {
                        var gzTr = $(element);
                        var gzN = gzTr.find('td:eq(4)').text();
                        if (fsN == gzN) {
                            gzTr.removeClass("corr");
                            gzTr.addClass("selected");
                        }
                    });
                }
                mainDiv.find('td.fs input').val(fsN);
                cmdInput.prop("disabled", false);
            },
            sendBill: function () {
                let num = mainDiv.find('td.fs input').val();
                if (num) {
                    if (confirm('Загрузить расходную накладнаю № ' + num + '?')) {
                        var data = 'num=' + num;
                        $.post('/ImEx/F0/SendBill', data, function (data) {
                            //alert(data);
                            msg.html(data);
                        });
                    }
                }
            }
        };
    })();
</script>
